@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@tailwind utilities;
/* @tailwind base; */



/* @base base {

} */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  height: 100vh;
}


#app {
  height: 100%;
  min-height: 100%;
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 0px;
}




